@*@{
        ViewBag.Title = "Home Page";
    }

    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>
    </main>*@

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="col-sm-12 text-center">
        <h4>Rainbow School</h4>
    </div>
    <div class="clearfix row">
        <div class="col-sm-12">
            <a href="Home/Info?t=teachers">Show Info About Teachers</a><br />
            <a href="Home/Info?t=infrastructure">Show Info About Infrastructure</a><br />
            <a href="Home/Info?t=admissions">Show Info About Admissions</a><br />
        </div>
    </div>
    <div class="clearfix row">
        <div class="col-sm-5">
            <h4>Enter student details in the form below</h4>
            <form action="Home/StudentDetails" method="post">
                <div class="row">
                    <div class="col-sm-3">Name</div>
                    <div class="col-sm-9"><input class="form-control" name="name" maxlength="40" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Address</div>
                    <div class="col-sm-9"><input class="form-control" name="address" maxlength="100" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Subject</div>
                    <div class="col-sm-9"><input class="form-control" name="subject" maxlength="40" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

